<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>home page</title>
<link th:rel="stylesheet" th:href="@{/css/homestyle.css}">


</head>
<body>
	<div>
		<img class="banner" th:src="@{/images/homepic.jpg}" alt="Admin">
		<div class="navbar">
			<img class="logo" th:src="@{/images/logo1.jpg}">
		</div>
		<div class="content">
		<a th:href="@{/adminlogin}">Admin login</a>
			<h1>ARE YOU HUNGRY?</h1>
			<P>Order Online From Your Favorite Nearby Restaurants</P>
			<div>
				<button onclick="location.href='/showProduct'" class="btn-fifth"
					type="button">Show Product</button>
			</div>
		</div>
	</div>
	<a th:href="@{/showProduct}">show page</a>
</body>
</html>