<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<div class="container">
		<div class="login-triangle"></div>

		<h2 class="login-header">Log in</h2>

		<form class="container" action="login">
			<p>
				<input type="email" name="email" placeholder="enter email">
			</p>
			<p>
				<input type="password"  name="password" placeholder="Password">
			</p>
			<p>
				<input type="submit" value="Log in">
			</p>
		</form>
	</div>
</body>
</html>