<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/home}">Logout</a>
      </li>
    </ul>
   <form class="d-flex" action="search" method="post">
        <input class="form-control me-2" type="text" name="name" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>

	<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Category Name</th>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">Photos</th>
			<th scope="col">Stock</th>


		</tr>
		</thead>
		<tbody>
		<tr th:each="p:${products}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.category}"></td>
			<td th:text="${p.name}"></td>
			<td th:text="${p.price}"></td>
			<td><img th:src="${p.photos}" width="100px" height="100px"></td>
			<td th:text="${p.stock}"></td>
			<td>
				<form action="delete">
					<input type="hidden" th:value="${p.id}" name="id" /> <input class="btn btn-danger"
						type="submit" value="Remove" />

				</form>
			</td>
			<td>
				<form action="pdaddform">
					<input type="hidden" th:value="${p.id}" name="id" /> <input
						type="hidden" th:value="${p.category}" name="category" /><input
						type="hidden" th:value="${p.name}" name="name" /> <input
						type="hidden" th:value="${p.price}" name="price" /> <input
						type="hidden" th:value="${p.photos}" name="photos" /> <input
						type="hidden" th:value="${p.stock}" name="stock" /> <input
						type="submit" class="btn btn-success" value="Change" />

				</form>
			</td>
		</tr>
		</tbody>

	</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>