<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">
<title>Insert title here</title>

</head>
<body>

	<div class="container justify-content-center">
	
	<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Total Quantity</th>
      <th scope="col">Total price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td th:text="${totalquantity}"></td>
      <td th:text="${totalprice}"></td>
    </tr>
  </tbody>
</table>
	
	
				<form action="showcart">
			<input class="btn btn-primary" type="submit" value="show cart">
		</form>
		<div class="row row-cols-1 row-cols-md-4">
			<div class="col mb-4" th:each="p: ${products}">
				<div class="card h-100">
					<img th:src="${p.photos}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title" th:text="${p.name} +',  Tk:'+${p.price}">Card
							title</h5>
						<p class="card-text">content is a here.content is a
							here.content is a here.content is a here.content is a
							here.content is a here.</p>
						<form action="addtocart">
							<input type="hidden" name="id" th:value="${p.id}"></input> <input
								type="hidden" name="category" th:value="${p.category}"></input>
							<input type="hidden" name="name" th:value="${p.name}"></input> <input
								type="hidden" name="price" th:value="${p.price}"></input></input><input
								type="hidden" name="photos" th:value="${p.photos}"></input> <input
								type="submit" value="add to cart" class="btn btn-primary"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>